<ion-view view-title="Current Week">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>

            <ion-item ng-repeat="video in currentVideos">
            <div class="row">
                <div class="col">
                    <b>Title:</b> {{video.title}}
                    <b>Artist:</b>{{video.artist}}<br>
                    <img src = "{{video.image_url}}" style ="width:75px;height:75px">
                </div>
                <div class="col">
                    <!--<a class="button icon-right ion-chevron-right button-calm" href="#/votingMenu/current/{{video.id}}"><!--#/votingMenu/current/{{video.id}}
                        Watch Now</a>-->
                    <button class ="button button-positive" ng-click="currentCtrl.goToVideo(video)">
                        Watch Now
                    </button>
                </div>
            </div>

                <ion-radio ng-model="choice" ng-value="{{video.id}}">Vote for {{video.title}}</ion-radio>
            </ion-item>

            <button class ="button button-block button-positive" ng-click="currentCtrl.doStuff()">
                doStuff
            </button>
        </ion-list>
    </ion-content>
</ion-view>


