<ion-view view-title="Current Week">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="video in currentVideos" href="#/votingMenu/current/{{video.id}}">
                <p>Can customize however</p>
                Title: {{video.title}} <br>
                Artist:{{video.artist}}
            </ion-item>
            <button class ="button button-block button-positive" ng-click="currentCtrl.doStuff()">
                doStuff
            </button>
        </ion-list>
    </ion-content>
</ion-view>


