<ion-view Title ="ForgotPassword">
     <ion-content>
         <div class="list" ng-controller="ForgotPasswordCtrl">
             <center>
		        <img src="img/tempo_logo.jpg">
                <br><br>
                <label class="item item-input">
                    <input type="email" placeholder="email" ng-model = "email">
                </label>

                 <button class ="button button-block button-positive" ng-click="forgotPasswordCtrl.resetPassword()">
                     Reset Password
                 </button>

                 <a class ="button button-block button-positive" ui-sref ="SignIn">Back</a>
		  </center>
      </div>
    </ion-content>
</ion-view>