<ion-view Title ="ForgotPassword">
     <ion-content>
         <div class="list" ng-controller="ForgotPasswordCtrl">
             <center>
                 <br>
		        <img src="img/tempo_logo.jpg">
                <br><br>

				 <form name="forgotPasswordForm" ng-submit="forgotPasswordCtrl.getQuestion()" novalidate>

				 	<label class="item item-input">
                    	<input type="email"
							   placeholder="email"
							   ng-model = "email"
							   name="email"
							   ng-pattern="/(.+)@(.+){2,}\.(.+){2,}/"
							   ng-required="true">
                	</label>
					 <div ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$touched">
						 <p class="form-error" ng-message="required">email is required</p>
						 <p class="form-error" ng-message="pattern">not a valid email</p>
					 </div>

				 	<input type="submit" ng-disabled="!forgotPasswordForm.$valid" class ="button button-block button-positive" value="Reset Password">

				 </form>
				 <ion-spinner ng-show="loading"></ion-spinner>
				 <div class="button button-block button-assertive"
					  ng-show="error">
					 {{errorMessage}}
				 </div>

                 <a class ="button button-block button-positive" ui-sref ="SignIn">Back</a>
		  </center>
      </div>
    </ion-content>
</ion-view>