<ion-view view-title="TEMPO Hub">
    <ion-content>
        <div class="list" ng-controller="mainMenuCtrl">
            <center>
                <br>
                <img src="img/tempo_logo.jpg">
                <br><br>

                <button class ="button button-block button-positive" ng-click="mainMenuCtrl.voting()">
                    CCC Voting
                </button>

                <button class = "button button-block button-positive" ng-click="mainMenuCtrl.clips()">
                    CCC Clips
                </button>
            </center>
        </div>
    </ion-content>
</ion-view>
