<ion-view view-title="Menu">
    <ion-content>
        <div class="list" ng-controller="mainMenuCtrl">
            <center>
                <img src="img/tempo_logo.jpg">
                <button class ="button button-block button-positive" ng-click="mainMenuCtrl.voting()">
                    Top Ten
                </button>

                <button class = "button button-block button-positive" ng-click="mainMenuCtrl.clips()">
                    Clips
                </button>
            </center>
        </div>
    </ion-content>
</ion-view>
