<ion-view view-title="TEMPO Hub">
    <ion-content>
        <div class="list" ng-controller="mainMenuCtrl">
            <center>
                <br>
                <img src="img/tempo_logo.jpg">
                <br><br>

                <button class ="button button-block button-positive" ng-click="mainMenuCtrl.voting()">
                    CCC Voting
                </button>

                <button class = "button button-block button-positive" ng-click="mainMenuCtrl.clips()">
                    CCC Clips
                </button>
            </center>
        </div>
    </ion-content>
	<ion-footer-bar ng-controller="BannerCtrl" class="hide-on-keyboard-open">
		<div class="bannerContainer">
			<a href="#" ng-click="bannerCtrl.go()">
				<img src="img/ad-banner.png" class="banner">
			</a>
		</div>
		</center>
	</ion-footer-bar>
</ion-view>
