<ion-view Title ="ResetPassword">
	<ion-content>
		<div class="list" ng-controller="ResetPasswordCtrl">
			<center>
				<br>
				<img src="img/tempo_logo.jpg">
				<br><br>
				<label class="item item-input">
					<input type="password" placeholder="new password" ng-model = "newPassword">
				</label>

				<button class ="button button-block button-positive" ng-click="resetPasswordCtrl.resetPassword()">
					Reset Password
				</button>

				<a class ="button button-block button-positive" ui-sref ="SignIn">Back</a>
			</center>
		</div>
	</ion-content>
</ion-view>