<ion-view Title ="ResetPassword">
	<ion-content>
		<div class="list" ng-controller="ResetPasswordCtrl">
			<center>
				<br>
				<img src="img/tempo_logo.jpg">
				<br><br>

				<form name="resetPasswordForm" ng-submit="resetPasswordCtrl.resetPassword()" novalidate>

					<label class="item item-input">
						<input type="password"
							   placeholder="new password"
							   ng-model = "newPassword"
							   name="newPassword"
							   ng-minlength="6"
							   ng-maxlength="50"
							   ng-pattern="/^[a-z0-9]+$/i"
							   ng-required="true">
					</label>
					<div ng-messages="resetPasswordForm.newPassword.$error" ng-if="resetPasswordForm.newPassword.$touched">
						<p class="form-error" ng-message="required">new password is required</p>
						<p class="form-error" ng-message="pattern">letters and numbers only</p>
						<p class="form-error" ng-message="minlength">too short</p>
						<p class="form-error" ng-message="maxlength">too long</p>
					</div>


					<label class="item item-input">
						<input type="password"
							   placeholder="confirm new password"
							   ng-model = "confirmPassword"
							   name="confirmPassword"
							   compare-to="newPassword"
							   ng-required="true">
					</label>
					<div ng-messages="resetPasswordForm.confirmPassword.$error" ng-if="resetPasswordForm.confirmPassword.$touched">
						<p class="form-error" ng-message="required">confirmed password is required</p>
						<p class="form-error" ng-message="compareTo">passwords must match</p>
					</div>

					<input type="submit" ng-disabled="!resetPasswordForm.$valid" class ="button button-block button-positive" value="Reset Password">

				</form>
				<ion-spinner ng-show="loading"></ion-spinner>
				<div class="button button-block button-assertive"
					 ng-show="error">
					{{errorMessage}}
				</div>

				<div class="button button-block button-balanced"
					 ng-show="success">
					password reset!
				</div>

				<a class ="button button-block button-positive" ui-sref ="SignIn">Back</a>
			</center>
		</div>
	</ion-content>
</ion-view>