<ion-view Title ="Security Question">
     <ion-content>
         <div class="list" ng-controller="SecurityQuestionCtrl">
             <center>
                 <br>
                 <img src="img/tempo_logo.jpg">
                 <br><br>
                 <p>{{question}}</p>
		        <label class="item item-input">
                    <input type = "text" placeholder="answer" ng-model = "answer">
                </label>

                 <button class ="button button-block button-positive" ng-click ="securityQuestionCtrl.answer()">
                     Reset Password
                 </button>

                 <a class ="button button-block button-positive" ui-sref ="SignIn">Back</a>
		  </center>
      </div>
    </ion-content>
</ion-view>