<ion-view title = "Sign In">
    <ion-content>
        <div class="list" ng-controller="Controller">
            <center>
		        <img src="img/tempo_logo.jpg">
                <br><br>
                <div ng-controller="SignInCtrl">
                <label class="item item-input">
                    <input type="email" placeholder="email" ng-model = "email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="password" ng-model = "pw">
                </label>


                <button class ="button button-block button-positive" ng-click="signInCtrl.signIn()">
                    Sign In
                </button>
                </div>

                <a class ="button button-block button-positive" ui-sref="SignUp">Sign Up</a>

		         <button class = "button button-block button-positive" ng-click="controller.forgotPassword()">
                     Forgot Password?
                 </button>
		    </center>
      </div>
    </ion-content>
</ion-view>