<ion-view>
    <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="current" icon="ion-home" href="#/votingMenu/current">
            <ion-nav-view name="current"></ion-nav-view>
        </ion-tab>

        <ion-tab title="previous" icon="ion-ios-information" href="#/votingMenu/previous">
            <ion-nav-view name="previous"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Go Back" icon="ion-log-out" href="#/mainMenu/mainPage">
        </ion-tab>

    </ion-tabs>
</ion-view>
