::-webkit-input-placeholder { text-align: center; }
::-moz-placeholder { text-align: center; } /* firefox 19+ */
:-ms-input-placeholder { text-align: center; } /* ie */
input:-moz-placeholder { text-align: center; }

/* Contact TEMPO message placeholder should be aligned left, but it's not working */
input.textBox::-webkit-input-placeholder { text-align: left; }
input.textBox::-moz-placeholder { text-align: left; } /* firefox 19+ */
input.textBox:-ms-input-placeholder { text-align: left; } /* ie */
input.textBox:-moz-placeholder { text-align: left; }

.dropDown * { width:100%;}

.form-error {
    display: block;
    padding: 8px;
    border: 1px solid #ef473a;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #ef473a;
}




